---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash, getAsset } from '~/utils/permalinks';
import type { CallToAction } from '~/types';
import { TrustedAdvisor } from 'aws-sdk';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<CallToAction>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const links: Array<MenuLink> = [
  { text: 'Home', href: '#' },
  { text: 'About', href: '#about' },
  { text: 'Resume', href: '#resume' },
  { text: 'Porfolio', href: '#porfolio' },
  { text: 'Blog', href: '#blog' },
  { text: 'Github', href: 'https://github.com/gucchunchun' },
]

const {
  id = 'header',
  // links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = true,
  showToggleTheme = false,
  showRssFeed = false,
  position = 'center',
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class="top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out sticky"
  id="header"
>
  <div class="flex justify-between text-default py-3 px-3 md:px-6 mx-auto w-full" >
    <!-- Logo -->
    <div class="flex justify-between" >
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <!-- Hamburger Button -->
    <div class="flex items-center md:hidden">
      <ToggleMenu />
    </div>
    <nav
      class="text-default hidden items-center w-full overflow-y-auto overflow-x-hidden md:w-auto md:flex md:mx-5 md:overflow-y-visible md:overflow-x-auto md:justify-self-center"
      aria-label="Main navigation"
    >
      <!-- Link -->
      <ul
        class="flex flex-col w-full h-full pt-20 pb-20 text-xl font-medium justify-between md:flex-row md:self-center md:p-0 md:text-[0.9375rem] tracking-[0.01rem] md:justify-center md:gap-6"
      >
        {
          links.map(({ text, href, links }) => (
            <li class="flex justify-center items-center">
                <a
                  class="w-fit h-fit whitespace-nowrap leading-none hover:border-b-2 dark:hover:text-white "
                  href={href}
                >
                  {text}
                </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <!-- Toggle Theme Button -->
    <div class="hidden fixed w-full justify-end left-0 rtl:left-auto rtl:right-0 bottom-0 p-3 md:self-center md:flex items-center md:mb-0 md:w-auto md:static md:p-0">        <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />
    </div>
  </div>
</header>