---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Carousel from '~/components/widgets/Carousel.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Marquee2 from '~/components/widgets/Marquee2.astro';

import AvatarImage from 'src/assets/images/avatar.jpg';

const metadata = {
  title: 'Personal Homepage Demo',
};

---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero -->
  <Hero />

  <!-- About me -->
  <Content
    id="about"
    title="About me"
    tagline="Who is Gucchunchun?"
    columns={3}
    image={{
      src: AvatarImage,
      alt: 'avatar',
      loading: 'eager',
    }}
    isReversed
  >
    <Fragment slot="content">
      <p>Hi, I am Yuna, a Japanese Web Developper</p>
      <br />
      <p>I am a web system engineer with a solid foundation in both backend and frontend web development. </p>
      <p>I have experience working with technologies like PHP, TypeScript, JavaScript to build scalable and efficient web applications. Currently, I am expanding my skill set by learning React Native to dive into mobile app development. I enjoy taking on new challenges and continuously improving my abilities to create seamless user experiences across platforms.</p>
    </Fragment>
  </Content>

  <!-- Work Experience -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Junior Web Developer <br /> <span class="font-normal">Buzzestry Co. , Tokyo</span> <br /> <span class="text-sm font-normal">2024 - </span>',
        description: `Working as an SES engineer <br /> Collaborated with cross-functional teams to implement backend and frontend solutions for seamless user experiences. In Addition to my technical role, I assist in translating and facilitating meetings as a bridge software engineer, supporting the company's expansion efforts abroad. `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Education -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Self-Taught Web Development <br /> <span class="font-normal">Acquired comprehensive knowledge in web development through online courses, tutorials, and hands-on projects.</span> <br /> <span class="text-sm font-normal">2023 - </span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of English Literature <br /> <span class="font-normal">Waseda University</span> <br /> <span class="text-sm font-normal">2019 - 2023</span>`,
        icon: 'tabler:school',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Skills -->
  <Marquee2
    title="Skills"
    items={[
      {
        image: {
          src: 'https://skillicons.dev/icons?i=html',
          alt: 'html'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=css',
          alt: 'css'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=js',
          alt: 'js'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=ts',
          alt: 'ts'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=php',
          alt: 'php'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=laravel',
          alt: 'laravel'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nestjs',
          alt: 'nestjs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nodejs',
          alt: 'nodejs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=react',
          alt: 'react'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nextjs',
          alt: 'nextjs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=astro',
          alt: 'astro'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=mysql',
          alt: 'mysql'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=postgres',
          alt: 'postgres'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=docker',
          alt: 'docker'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=git',
          alt: 'git'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=github',
          alt: 'github'
        },
      }
    ]}
    classes={{
      headline: {

      }
    }}
  />

  <!-- Projects -->
  <Content 
    title="Project"
    tagline="See my Creation!"
  />


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
