---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Marquee2 from '~/components/widgets/Marquee2.astro';
import ContentLayout from '~/layouts/ContentLayout.astro';

// import Carousel from '~/components/widgets/Carousel.astro';
import Card from '~/components/ui/Card.astro';

import AvatarImage from 'src/assets/images/avatar.jpg';
import PCImage from 'src/assets/images/pc.jpg';

const metadata = {
  title: 'Personal Homepage Demo',
};

---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero -->
  <Hero />

  <!-- About me -->
  <Content
    id="about"
    title="About me"
    tagline="Who is Gucchunchun?"
    columns={3}
    image={{
      src: AvatarImage,
      alt: 'avatar',
      loading: 'eager',
    }}
    isReversed
  >
    <Fragment slot="content">
      <p>Hi, I am Yuna, a Japanese Web Developper</p>
      <br />
      <p>I am a web system engineer with a solid foundation in both backend and frontend web development. </p>
      <p>I have experience working with technologies like PHP, TypeScript, JavaScript to build scalable and efficient web applications. Currently, I am expanding my skill set by learning React Native to dive into mobile app development. I enjoy taking on new challenges and continuously improving my abilities to create seamless user experiences across platforms.</p>
    </Fragment>
  </Content>

  <!-- Work Experience -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Junior Web Developer <br /> <span class="font-normal">Buzzestry Co. , Tokyo</span> <br /> <span class="text-sm font-normal">2024 - </span>',
        description: `Working as an SES engineer <br /> Collaborated with cross-functional teams to implement backend and frontend solutions for seamless user experiences. In Addition to my technical role, I assist in translating and facilitating meetings as a bridge software engineer, supporting the company's expansion efforts abroad. `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Education -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Self-Taught Web Development <br /> <span class="font-normal">Acquired comprehensive knowledge in web development through online courses, tutorials, and hands-on projects.</span> <br /> <span class="text-sm font-normal">2023 - </span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of English Literature <br /> <span class="font-normal">Waseda University</span> <br /> <span class="text-sm font-normal">2019 - 2023</span>`,
        icon: 'tabler:school',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Skills -->
  <Marquee2
    id="skills"
    title="Skills"
    items={[
      {
        image: {
          src: 'https://skillicons.dev/icons?i=html',
          alt: 'html'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=css',
          alt: 'css'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=js',
          alt: 'js'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=ts',
          alt: 'ts'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=php',
          alt: 'php'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=laravel',
          alt: 'laravel'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nestjs',
          alt: 'nestjs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nodejs',
          alt: 'nodejs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=react',
          alt: 'react'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=nextjs',
          alt: 'nextjs'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=astro',
          alt: 'astro'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=mysql',
          alt: 'mysql'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=postgres',
          alt: 'postgres'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=docker',
          alt: 'docker'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=git',
          alt: 'git'
        },
      },
      {
        image: {
          src: 'https://skillicons.dev/icons?i=github',
          alt: 'github'
        },
      }
    ]}
    classes={{
      headline: {

      }
    }}
  />

  <!-- Projects -->
  <ContentLayout
    id="projects"
    title="Projects"
    tagline="See my Creation!"
  >
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-items-center">
      <Card 
        title="Card1"
        description="Coming Soon...."
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
      <Card 
        title="Card2"
        description="Coming Soon...."
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
      <Card 
        title="Card3"
        description="Coming Soon...."
        image={{
          src: PCImage,
          alt: "PC"
        }}
        callToActions={[
          {
            variant:"secondary",
            text: "Try now",
            href: ""
          },
          {
            variant:"link",
            icon: "tabler:brand-github",
            href: "https://github.com/gucchunchun"
          }
        ]}
      />
    </div>
  </SubContentLayout>

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
