---
import BaseLayout from '~/layouts/BaseLayout.astro';
import {
  Header,
  Footer
} from '~/components/layouts/index';

import { footerData } from '~/navigation';

import type { Layout as Props } from '~/types/global';

const { 
  metadata,
  lang
} = Astro.props;
---

<BaseLayout metadata={metadata}>
  <Header lang={lang}/>
  <main>
    <slot />
  </main>
  <Footer {...footerData} />
</BaseLayout>
